.ui-widget-header {
	border: 0px;
	background: #FFFFFF;
}

.ui-widget-content {
	border: 0px;
}

.icon{
	border: 0px solid #dddddd;
    background: rgba(0,0,0,0.4);
    font-weight: bold;
    color: #eee;
    margin: 0.5em;
    width: 70px;
    height: 70px;
}

.home-header{
	background: #555;
	height: 40px;
	text-align: center;
}
.home-serch-input {
	background: #FFFFFF;
	margin-top: 8px;
	width: 400px;
}

.home-user-background-area {
	height: 200px;
	background: #6ACCCB;
}

.home-tag-area {
	height: 40px;
	background: #FFFFFF;
	border-bottom-color: #999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

.home-tag-span {
	width: 200px;
	float: left;
	height: 40px;
}

.home-tag-icon {
	color: #999;
	background: #FFFFFF;
	border: none;
	margin-top:4px;
}

.home-form-filter-area {
	min-width: 200px;
	min-height: 800px;
	background: #FFFFFF;
	float: left;
	border-right-color: #999;
	border-right-width: 1px;
	border-right-style: solid;
	color: #555;
}

.home-form-filter-list {
	list-style-type: none;
	margin-top: 16px;
	margin-left: -24px;
	
}

.home-form-content-area {
	min-height: 800px;
	background-color: #FFFFFF;
}

.home-form-content-ain-area {
	float: left;
}
